{% extends "base.html" %}

{% block title %}店舗一覧{% endblock %}

{% block content %}
<ul>
    {% for r in restaurants %}
        <li class="p-4">
            <h2 class="">
                <a href="#">{{ r.name }}</a>
            </h2>
            <ul class="flex">
                <li>{{ r.city_label }}</li>
                <li>{{ r.ward_label }}</li>
                <li>{{ r.category_label }}</li>
            </ul>
            <p>{{ r.short_feature }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}


<!--
class Restaurant(BaseModel):
    name = models.CharField(max_length=100)

    prefecture = models.CharField(max_length=10, choices=PREFECTURES, default="aichi")
    city = models.CharField(max_length=20, choices=City.choices, default=City.NAGOYA)
    ward = models.CharField(max_length=20, choices=NagoyaWard, null=True, blank=True)
    address = models.CharField(max_length=255)
    latitude = models.DecimalField(max_digits=9, decimal_places=6, null=True, blank=True)
    longitude = models.DecimalField(max_digits=9, decimal_places=6, null=True, blank=True)

    phone_number = models.CharField(max_length=20)

    category = models.CharField(max_length=20, choices=Category.choices)
    short_feature = models.CharField(max_length=255, blank=True)
    long_feature = models.TextField(blank=True)
    #tags = models.ManyToManyField(Tag, blank=True, related_name="restaurants")

    price_range = models.CharField(max_length=10, choices=PriceRange.choices)

    is_active = models.BooleanField(default=True)
-->