# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Node
node_modules

# Virtual env
venv-gourmet/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# VSCode
.vscode/

# Mac
.DS_Store
